.fab {
	font-size: 2em;
}

#github-link {
	margin-right: 2em;
}

/*large screens*/
@media (min-width: 992px) {
	#main-name {
		font-size: 2rem;
		padding-top: 50%;
	}	

	#name-panel {
		height: 100vh;
	}

	#content-panel {
		margin-top: 0 !important; 
		height: 100vh;
		overflow-y: scroll;
		padding-top: 15%;
	}

	#name-jumbotron{
		height: 100vh;
		border-radius: 0;
	}
}