*{
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body{
	background-color: whitesmoke;
}

#menu{
	position: fixed;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 9px;
	z-index: 2;
}

#menu:hover{
	cursor: pointer;
}

li {
	list-style: none;
}

#landingPage{
	position: relative;
	margin: 0 auto;
	background-image: url(../images/mac%20background%20blur.jpg);
	background-size: cover;
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
	background-attachment: fixed;
}

#navBar{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 80vh;
	margin-left: -100%;
	background-color: rgba(80, 80, 80, 1);
    box-sizing: border-box;
    width: 60%;
    z-index:3;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

li.navLinks {
	list-style: none;
	text-align: center;
	border-bottom: 1px solid #444;
}

a.topLinks {
	text-decoration: none;
	color: white;
	font-size: 1em;
	line-height: 20vh;
	font-family: 'Raleway', sans-serif;
}


#socialContainer{
	position: relative;
	height: 50vh;
	top: 0px;
}

#nameContainer{
	position: relative;
	height: 50vh;
}
li.social-media{
	display: inline;
	margin-right: 50px;
}

.socicon-github, .socicon-instagram, .socicon-linkedin{
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}

#socialMediaIcons{
	position: relative;
	display: block;
	text-align: center;
	bottom: -80%;
}

h1 {
	position: relative;
	top: 0px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 200;
    word-spacing: 30px;
    letter-spacing: 5px;
    /*background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);*/
}

h2{
	display: block;
    color: black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}

#aboutMeHeading{
	padding-top: 50px;

}

#aboutMeHello {
	margin-top: 30px;
	font-style: italic;
    font-size: 25px;
    font-family: serif;
}

#aboutMeParagraph{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #777;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

#aboutContent{
	position: relative;
	width: 77%;
	top: 15px;
	margin: auto;
	box-sizing: border-box;
	padding: 0px 20px;
	padding-bottom: 20px; 
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

#aboutDiv{
	position: relative;
	width: 77%;
	margin: auto;
	box-sizing: border-box;	
}

#aboutPic{
	width: 100%;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);	
}

#projectsSection{
	height: 100vh;
	background-color: whitesmoke;
}

#comingSoon{	
	color: #777;
	padding: 20px; 
	text-align: center; 
	padding-top: 150px;
}

#contactSection{
    background-color: #222222;
    height: 100vh;
}

#contactMeHeading{
	display: block;
    top: 120px;
    left: 0px;
    font-size: 16px;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}

#contactForm{
    position: relative;
    width: 65%;
    margin: auto;
    padding-top: 20%;
}

.fieldList{
    margin-bottom: 15px;
    width: 100%;
    font-size: 12px;
    color: #999999;
    background-color: #333333;
    border-radius: 1px;
    padding: 10px 0px 10px 20px;
    border: #222222;
}


textarea{
    height: 100px;
    background-color: #333333;
    font-family: sans-serif;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    color: #999999;
    padding: 10px 0px 10px 20px;
    border: #222222;
}

#sendButton{
    padding: 10px 24px;
    border: none;
    color: #222222;
    background-color: white;
    font-size: 10px;
    font-family: monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2px;
}


@media (min-width: 670px){
	h1{
		font-size: 70px;
	}

	#contactForm{
		width: 30%;
    	padding-top: 8%;
	}

}

@media (min-width: 750px){
	#menu{
		display: none;
	}

	#navBar{
		text-align: center;
		width: 100%;
		height: 55px;
		margin-left: 0px;
		background-color: #333;
	    z-index:3;
	    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	}

	li.navLinks {
		display: inline;
		text-align: center;
		border-bottom: none;
		
	}

	a.topLinks {
		padding: 18px 56px; 
		color: white;
		font-size: 1em;
		line-height: 55px;
		font-family: 'Raleway', sans-serif;
	}

	a.topLinks:hover {
		background-color: #444;
		border-bottom: solid 1px #3498db;
	}

	#aboutMeHeading{
		padding-top: 55px;

	}

	#aboutContent{
		top: 0px;
		width: 50%;
	}

	#aboutMeParagraph{
		padding: 0px 150px;
	}

	#aboutMeHello{
		padding-left: 150px
	}

	#aboutDiv{
		display: none;
	}



}

